################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElasticSearch_ELK_NEST/bin/Debug/net8.0
/ElasticSearch_ELK_NEST/obj
/.vs/ElasticSearch_ELK_NEST/FileContentIndex
/.vs/ElasticSearch_ELK_NEST/v17
*.config
